/* Font imported */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles start */
.header-area {
    width: 100%;
    height: 1322px;
    background: #ff900e1a;
}

/* style for navigation bar--- start--- */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

.nav-items ul {
    display: flex;
    gap: 36px;


}

.nav-item {
    list-style: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
}

.nav-item a {
    text-decoration: none;
    color: #424242;
}

.logo-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
}

/* style for navigation bar--- end--- */

/* style for header banner---- start---- */
.header-hero {
    text-align: center;
    margin-top: 100px;
}

.section-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
}

.section-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin: 20px 0px;
}

.explore-btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin: 32px 0 50px 0px;
}

.header-banner {
    width: 1440px;
    height: 700px;
}

/* style for header banner---- end---- */
/* header styles end */

/* body styles start */
/* first section styles --- start---- */

.main-body {
    width: 1440px;
    margin: 0 auto;
}

.first-section-container {
    margin-top: 80px;
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 50px;
}

.section-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

.section-info-title {
    font-size: 2.812rem;
    font-weight: 700;
}

.section-info-title .light-title {
    font-size: 2.812rem;
    font-weight: 500;
    color: #727272;
}

.section-info-title .color-title {
    font-size: 2.812rem;
    color: #FF900E;
}

.first-section-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
}

/* first section styles --- end---- */

/* second section styles --- start --- */
.second-section-container {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    width: 90rem;
    height: 66rem;
}

.section-info-carts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    margin-top: 30px;
}

.section-info-tittle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.812rem;
    line-height: 53px;
    color: #131313;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.section-info-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    padding-top: 1.37rem;
}

.section-info-cart {
    width: 586px;
    height: auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.info-cart-tittle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 23px;
}

.info-cart-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    padding-top: 10px;
}

.second-section-img-area {
    width: 50rem;
    height: 66rem;
    position: relative;
}

.second-section-image {
    width: 700px;
    height: 1000px;
}

.second-section-btn {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: -30px;
    left: -90px;
}

.second-section-btn p {
    font-weight: 500;
    font-size: 25px;
}

.hide {
    display: none;
}


/* second section styles --- end --- */

/* third section styles --- start --- */
.third-section-container {
    margin-top: 100px;
    height: auto;
    width: auto;
}

.third-section-title {
    font-weight: 700;
    font-size: 2.812rem;
}

.third-section-description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-top: 20px;
}
.third-section-carts{
    display: flex;
    justify-content: space-around;
}
.section-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.cart-icon {
    width: 45.22px;
    height: 45.22px;
}

.section-cart-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.section-cart-description {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* third section styles --- end --- */

/* body styles end */

/* responsive with media query for small devices */
@media only screen and (max-width:576px) {

    /* header area responsive--- start --- */
    .header-area {
        width: 100%;
        height: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-items ul {
        flex-direction: column;
        padding: 0;
    }

    .header-banner {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    /* header area responsive--- end --- */

    /* first section responsive---- start--- */

    .main-body {
        width: 100%;
    }

    .first-section-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .section-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-content {
        padding: 10px;
    }

    /* first section responsive---- end--- */

    /* second section responsive---- start--- */

    .second-section-container {
        flex-direction: column;
        gap: 20px;
        width: auto;
        height: auto;
        padding: 30px;
        overflow: hidden;
    }

    .section-info-text {
        text-align: center;
        width: 80%;
    }

    .section-info-cart {
        width: 90%;
        height: auto;
    }

    .second-section-img-area {
        height: auto;
    }

    .second-section-image {
        width: 41%;
        height: 50%;
        position: unset;
    }

    .second-section-btn {
        position: unset;
        margin: 5px;
        text-align: center;
        width: 40%;
        height: 20%;
    }

    /* second section responsive---- end--- */

    /* third section responsive---- start--- */
    .third-section-info{
        text-align: center;
        padding: 10px;
    }
    .third-section-carts{
        flex-direction: column;
    }
    .section-cart{
        width: 100%;
        
    }
    /* third section responsive---- end--- */

}